defaults
    log global

    timeout client  10m
    timeout connect 60s
    timeout server  10m

frontend apt_proxy
    bind *:3142
    mode http

    acl is_connect method CONNECT
    use_backend https_passthrough if is_connect

    default_backend http_cache

frontend stats
  mode http
  bind *:9999
  stats enable
  stats refresh 10s
  stats uri /stats
  stats hide-version

backend http_cache
    mode http
    server nginx 127.0.0.1:4444 check

backend https_passthrough
    mode http
    server tinyproxy 127.0.0.1:8888 check
